<a href="https://colab.research.google.com/github/AndrewSlutsky/MOC_1/blob/main/MOC_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

from random import choice

variant = '15'

Запись таблиц из файлов в np массивы

In [5]:
prob = np.genfromtxt(f'prob_{variant}.csv', delimiter = ',')
table = np.genfromtxt(f'table_{variant}.csv', delimiter = ',', dtype = int)

Визуализация таблицы вероятностных распределений

In [6]:
pd.DataFrame(data = table, index = [f'k{i}' for i in range(20)], columns = [f'M{i}' for i in range(20)])

     M0  M1  M2  M3  M4  M5  M6  M7  ...  M12  M13  M14  M15  M16  M17  M18  M19
k0    2  14  17  12   3  15   4   5  ...    1    7   13   19   18   11   10    8
k1   11  17   4   8  16   3  12  15  ...    5    2    7    1   10   18   13    9
k2   13  17  15  11   9  10   2   8  ...    3   12    7    1    5    0   16    4
k3   15   9  17  13  19  11  12   2  ...    4    6    8   16    7    5    0   10
k4    5   7   4   2  17  13   1  15  ...    3   19   10   18    9   16    8   11
k5    8  16   6  11   3  17  14  10  ...    4    1   12    0    2   13   15    9
k6    2   6  13  12   1   7   5   0  ...    9   16   18   19   14   11   17    4
k7   19  15   4   8  17  18  16   6  ...    3    5   11    0   12   13   14    9
k8   13   8  18   4  17   3   1  16  ...    2    6   11    7   12   14    0   15
k9    9   6  15  13   0   1  12   2  ...    3    7    8   16   10   11   17    5
k10   5  19  12   1   7  17   8   2  ...   18   15    3    0    9   10   11    6
k11  11  18  10   9  15   6  13  17  ...   19    4    2   16    3   14   12    0
k12  15  19   7  13  14   2  12   6  ...    3    4    8   18    1   11   17   10
k13  18   4  15  13  10   2  11  16  ...    9    0    6   14    8   19    1    7
k14   5  16  10   8  17  18  19  13  ...   11    1    9    2   12    6    7    3
k15   1   8  18   0   7  16   4   2  ...    5   14   10    9   15    3   12   13
k16   6  11  15  17   3   9  19  13  ...    2    0    4   18    7   10    8    1
k17  17  16  19  13   8  10   3   2  ...    0   18    1    9    6   15   11    4
k18  13  17   6   7  18  11  16   2  ...   14    4    3    0    5   10   12    1
k19   6  19  12   9   1  16   5  17  ...   15   14    7   13    2   10    0    3

[20 rows x 20 columns]