<a href="https://colab.research.google.com/github/AndrewSlutsky/MOC_1/blob/main/MOC_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

from random import choice

variant = '15'

Запись таблиц из файлов в np массивы

In [5]:
prob = np.genfromtxt(f'prob_{variant}.csv', delimiter = ',')
table = np.genfromtxt(f'table_{variant}.csv', delimiter = ',', dtype = int)

Визуализация таблицы вероятностных распределений

In [6]:
pd.DataFrame(data = table, index = [f'k{i}' for i in range(20)], columns = [f'M{i}' for i in range(20)])

     M0  M1  M2  M3  M4  M5  M6  M7  ...  M12  M13  M14  M15  M16  M17  M18  M19
k0    2  14  17  12   3  15   4   5  ...    1    7   13   19   18   11   10    8
k1   11  17   4   8  16   3  12  15  ...    5    2    7    1   10   18   13    9
k2   13  17  15  11   9  10   2   8  ...    3   12    7    1    5    0   16    4
k3   15   9  17  13  19  11  12   2  ...    4    6    8   16    7    5    0   10
k4    5   7   4   2  17  13   1  15  ...    3   19   10   18    9   16    8   11
k5    8  16   6  11   3  17  14  10  ...    4    1   12    0    2   13   15    9
k6    2   6  13  12   1   7   5   0  ...    9   16   18   19   14   11   17    4
k7   19  15   4   8  17  18  16   6  ...    3    5   11    0   12   13   14    9
k8   13   8  18   4  17   3   1  16  ...    2    6   11    7   12   14    0   15
k9    9   6  15  13   0   1  12   2  ...    3    7    8   16   10   11   17    5
k10   5  19  12   1   7  17   8   2  ...   18   15    3    0    9   10   11    6
k11  11  18  10   9  15   6  13  17  ...   19    4    2   16    3   14   12    0
k12  15  19   7  13  14   2  12   6  ...    3    4    8   18    1   11   17   10
k13  18   4  15  13  10   2  11  16  ...    9    0    6   14    8   19    1    7
k14   5  16  10   8  17  18  19  13  ...   11    1    9    2   12    6    7    3
k15   1   8  18   0   7  16   4   2  ...    5   14   10    9   15    3   12   13
k16   6  11  15  17   3   9  19  13  ...    2    0    4   18    7   10    8    1
k17  17  16  19  13   8  10   3   2  ...    0   18    1    9    6   15   11    4
k18  13  17   6   7  18  11  16   2  ...   14    4    3    0    5   10   12    1
k19   6  19  12   9   1  16   5  17  ...   15   14    7   13    2   10    0    3

[20 rows x 20 columns]

ШТ от С0 до С19, находим все индексы соответствующих значений для вычисления вероятностного распределения ШТ согласно формуле:

![image.png]()

Функция для вычисления вероятности конкретного ШТ по индексам ключей и ОТ, которые его порождают и функция для получения вероятностного распределения ШТ

In [7]:
def get_C_probability(indexes):
    s = 0
    for i in range(20):
        s += (prob[0][indexes[1][i]] * prob[1][indexes[0][i]])
    return s

def get_C_distribution():
    ret = []
    for i in range(20):
        ret.append(get_C_probability(np.where(table == i)))
    return np.array(ret)

Вероятностное распределение ШТ представлено в таблице:

In [8]:
pd.DataFrame(data = [get_C_distribution()], index = ['P'], columns = [f'C{i}' for i in range(20)])

       C0      C1      C2      C3     C4  ...     C15     C16     C17    C18     C19
P  0.0364  0.0428  0.0476  0.0476  0.054  ...  0.0556  0.0508  0.0812  0.046  0.0492

[1 rows x 20 columns]

Функция для вычисления совместных вероятностей конкретного ШТ по всем ОТ согласно формуле
![image.png]()

, и функция для получения таблицы совместных вероятностей всех ШТ по всем ОТ

In [9]:
def get_MC_probability(C):
    ret = []
    for i in range(20):
        indexes = np.where(table.T[i] == C)[0]
        if indexes.size == 0:
            ret.append(0.0)
        else:
            s = 0
            for j in indexes:
                s += (prob[0][i] * prob[1][j])
            ret.append(s)
    return np.array(ret)

def get_MC_probabilities():
    prob_table = []
    for i in range(20):
        prob_table.append(get_MC_probability(i))
    return np.array(prob_table).T

Таблица в которой представлены все совместные вероятности

In [10]:
pd.DataFrame(data = get_MC_probabilities().T, index = [f'C{i}' for i in range(20)], columns = [f'M{i}' for i in range(20)])

         M0      M1      M2      M3  ...     M16     M17     M18     M19
C0   0.0000  0.0000  0.0000  0.0044  ...  0.0000  0.0012  0.0036  0.0012
C1   0.0044  0.0000  0.0000  0.0044  ...  0.0012  0.0000  0.0012  0.0024
C2   0.0198  0.0000  0.0000  0.0044  ...  0.0024  0.0000  0.0000  0.0000
C3   0.0000  0.0000  0.0000  0.0000  ...  0.0012  0.0012  0.0000  0.0024
C4   0.0000  0.0044  0.0242  0.0044  ...  0.0000  0.0000  0.0000  0.0036
C5   0.0132  0.0000  0.0000  0.0000  ...  0.0024  0.0012  0.0000  0.0012
C6   0.0088  0.0088  0.0088  0.0000  ...  0.0012  0.0012  0.0000  0.0012
C7   0.0000  0.0044  0.0044  0.0044  ...  0.0024  0.0000  0.0012  0.0012
C8   0.0044  0.0088  0.0000  0.0242  ...  0.0012  0.0000  0.0024  0.0042
C9   0.0044  0.0044  0.0000  0.0088  ...  0.0024  0.0000  0.0000  0.0066
C10  0.0000  0.0000  0.0088  0.0000  ...  0.0054  0.0048  0.0042  0.0024
C11  0.0198  0.0044  0.0000  0.0088  ...  0.0000  0.0078  0.0024  0.0012
C12  0.0000  0.0000  0.0088  0.0198  ...  0.0036  0.0000  0.0036  0.0000
C13  0.0132  0.0000  0.0044  0.0220  ...  0.0000  0.0024  0.0042  0.0012
C14  0.0000  0.0154  0.0000  0.0000  ...  0.0012  0.0024  0.0012  0.0000
C15  0.0088  0.0044  0.0176  0.0000  ...  0.0012  0.0012  0.0012  0.0012
C16  0.0000  0.0132  0.0000  0.0000  ...  0.0000  0.0012  0.0012  0.0000
C17  0.0044  0.0242  0.0198  0.0044  ...  0.0000  0.0000  0.0036  0.0000
C18  0.0044  0.0044  0.0088  0.0000  ...  0.0042  0.0042  0.0000  0.0000
C19  0.0044  0.0132  0.0044  0.0000  ...  0.0000  0.0012  0.0000  0.0000

[20 rows x 20 columns]

Функция для расчёта таблицы условных вероятностей P(M|C)

In [11]:
def get_conditional_probabilities():
    ret = []
    MC = get_MC_probabilities()
    pr = get_C_distribution()
    for i in range(20):
        temp = []
        for j in range(20):
            temp.append(MC[i][j] / pr[j])
        ret.append(temp)
    return np.array(ret)

Таблица условных вероятностей

In [12]:
pd.DataFrame(data = get_conditional_probabilities().T, index = [f'C{i}' for i in range(20)], columns = [f'M{i}' for i in range(20)])

           M0        M1        M2  ...       M17       M18       M19
C0   0.000000  0.000000  0.000000  ...  0.032967  0.098901  0.032967
C1   0.102804  0.000000  0.000000  ...  0.000000  0.028037  0.056075
C2   0.415966  0.000000  0.000000  ...  0.000000  0.000000  0.000000
C3   0.000000  0.000000  0.000000  ...  0.025210  0.000000  0.050420
C4   0.000000  0.081481  0.448148  ...  0.000000  0.000000  0.066667
C5   0.333333  0.000000  0.000000  ...  0.030303  0.000000  0.030303
C6   0.178862  0.178862  0.178862  ...  0.024390  0.000000  0.024390
C7   0.000000  0.095652  0.095652  ...  0.000000  0.026087  0.026087
C8   0.072848  0.145695  0.000000  ...  0.000000  0.039735  0.069536
C9   0.095652  0.095652  0.000000  ...  0.000000  0.000000  0.143478
C10  0.000000  0.000000  0.222222  ...  0.121212  0.106061  0.060606
C11  0.366667  0.081481  0.000000  ...  0.144444  0.044444  0.022222
C12  0.000000  0.000000  0.173228  ...  0.000000  0.070866  0.000000
C13  0.224490  0.000000  0.074830  ...  0.040816  0.071429  0.020408
C14  0.000000  0.346847  0.000000  ...  0.054054  0.027027  0.000000
C15  0.158273  0.079137  0.316547  ...  0.021583  0.021583  0.021583
C16  0.000000  0.259843  0.000000  ...  0.023622  0.023622  0.000000
C17  0.054187  0.298030  0.243842  ...  0.000000  0.044335  0.000000
C18  0.095652  0.095652  0.191304  ...  0.091304  0.000000  0.000000
C19  0.089431  0.268293  0.089431  ...  0.024390  0.000000  0.000000

[20 rows x 20 columns]

Оптимальная детерминистическая функция

In [13]:
def optimal_deterministic_function():
    ret = np.zeros((20, 20))
    cond_prob = get_conditional_probabilities().T
    for i in range(20):
        ind = max(np.where(cond_prob[i] == max(cond_prob[i]))[0])
        ret[i][ind] = 1
    return ret

Оптимальная детерминистическая функция представленная таблицей

In [14]:
pd.DataFrame(data = optimal_deterministic_function(), index = [f'С{i}' for i in range(20)], columns = [f'M{i}' for i in range(20)])

      M0   M1   M2   M3   M4   M5   M6  ...  M13  M14  M15  M16  M17  M18  M19
С0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С1   0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С2   1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С3   0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С4   0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С5   1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С6   0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С7   0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С8   0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С9   0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С10  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С11  1.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С12  0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С13  0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С14  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С15  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С16  0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С17  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С18  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
С19  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[20 rows x 20 columns]

Байесовское принятие решения по детерминистической функции

In [15]:
def deterministic_decision_maker(C):
    return np.where(optimal_deterministic_function()[C] == 1)[0][0]

deterministic_decision_maker(0)

8

Средние потери

In [16]:
def deterministic_average_loss():
    cond_prob = get_conditional_probabilities().T
    C = get_C_distribution()
    s = 0
    for i in range(20):
        s += C[i] * (1 - cond_prob[i][deterministic_decision_maker(i)])
    return s

deterministic_average_loss()

0.6858000000000002